{
  "name": "@ondeinference/${node_pkg}",
  "version": "${node_version}",
  "description": "Platform binary for the Onde CLI.",
  "license": "MIT OR Apache-2.0",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/ondeinference/onde-cli.git"
  },
  "keywords": ["${node_pkg}","cli","binary","node","nodejs","npm","package","onde","inference","llm"],
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "files": ["bin"]
}
