<p align="center">
  <img src="https://avatars.githubusercontent.com/u/218425892?s=200&v=4" alt="Onde Inference" width="96">
</p>

<h1 align="center">Onde CLI</h1>

## `${node_pkg}`

This is a platform-specific binary for [`@ondeinference/cli`](https://www.npmjs.com/package/@ondeinference/cli). You don't need to install it directly.

Install the main package instead:

```sh
npm install -g @ondeinference/cli
```

npm pulls in the right binary for your OS and architecture.

## Links

- [Source code](https://github.com/ondeinference/onde-cli)
- [Issues](https://github.com/ondeinference/onde-cli/issues)
- [Website](https://ondeinference.com)

## License

[MIT OR Apache-2.0](https://github.com/ondeinference/onde-cli/blob/main/LICENSE)
